<div class="d-flex">
  <nz-form-item>
    <nz-select
      [ngModel]="testSelected"
      nzShowSearch
      nzPlaceHolder="e.g. Anti G8M Antibody"
      (ngModelChange)="showSelecedValue($event)"
    >
      <nz-option-group [nzLabel]="labTestItems">
        <nz-option
          *ngFor="let test of labTests"
          [nzLabel]="test.testName"
          [nzValue]="test"
          nzCustomContent
        >
          <div class="d-flex justify-content-start">
            <div style="width: 60%">
              {{ test.testName }}
            </div>
            <div style="width: 20%; text-align: center">{{ test.type }}</div>
            <div style="width: 20%; text-align: center">{{ test.price }}</div>
          </div>
        </nz-option>
      </nz-option-group>
    </nz-select>

    <ng-template #labTestItems>
      <div class="d-flex justify-content-start menu-header">
        <div style="width: 60%">Test Name</div>
        <div style="width: 20%; text-align: center">Parameters</div>
        <div style="width: 20%; text-align: center">Price</div>
      </div>
    </ng-template>
  </nz-form-item>

  <i
    *ngIf="showDelIcon"
    nz-icon
    nzType="delete"
    nzTheme="twotone"
    class="delete-form-icon"
    (click)="onClickDelete(testSelectedComponent)"
  ></i>
</div>
